#remote {
    display: inline-block;
}

.remoteButton {
    width: 200px;
    border: .05em solid rgba(0, 0, 0, 0.534);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#myContainer {
    width: 100% !important;
    height: 100vh !important;
}

#apiContainer {
    height: 97vh !important;
}

#apiContainerWrapper {
    width: 100%;
}

.frame {
    transform: scale(0.5);
    width: 1280px;
    height: 720px;
    border: 1px solid black;
    background-color: black;
}